[2017-03-13 10:51] niccokunzmann opened #1 "Anfänger Issues erstellen"
- [x] Diese bekommen das Label "nur-für-einsteiger"
- [x] sind auf Deutsch
- [ ] werden auf http://up-for-grabs.net/#/ angezeigt
- [x] sind immer mindestens 3

[2017-03-13 10:56] niccokunzmann opened #2 "pr badge und contributing.md"
Auf http://makeapullrequest.com steht, was das Projekt noch so braucht.

- [x] Contributing.md modifizeiren
- [x] README.md mit Bild versehen

[2017-03-14 09:53] niccokunzmann opened #3 "README erstellen"
Inhalt:
- Zweck dieses Repos

- related work:
  - http://tom.preston-werner.com/2010/08/23/readme-driven-development.html

[2017-03-14 12:19] #3 closed

[2017-03-17 07:22] niccokunzmann opened #4 "Link zu Einsteigerisues von Schulcloud"
https://github.com/search?utf8=%E2%9C%93&q=org%3Aschul-cloud+state%3Aopen+label%3A%22nur-f%C3%BCr-einsteiger%22&type=Issues&ref=searchresults

Das sollte hier verlinkt werden und in up-for grabs.net

[2017-03-17 07:25] niccokunzmann opened #5 "English first timer issues"
https://github.com/search?utf8=%E2%9C%93&q=org%3Aschul-cloud+state%3Aopen+label%3A%22first-timers-only%22&type=Issues&ref=searchresults

Dieser Link zeigt auf alle Englischen Issues zum Einsteigen.
Label: first-timers-only
Wie für #4 sollte dieser Link für Anfänger auf die Seite.

[2017-03-17 07:28] niccokunzmann opened #6 "merge github queries"
Merge these two queries into one:
- https://github.com/search?utf8=%E2%9C%93&q=org%3Aschul-cloud+state%3Aopen+label%3A%22first-timers-only%22&type=Issues&ref=searchresults
- https://github.com/search?utf8=%E2%9C%93&q=org%3Aschul-cloud+state%3Aopen+label%3A%22nur-f%C3%BCr-einsteiger%22&type=Issues&ref=searchresults

[2017-03-17 08:15] niccokunzmann opened #7 "Issues auflisten"
Auf schul-cloud.github.io sollten die Issues, an denen man als Anfänger arbeiten kann, aufgelistet werden.

API:
- https://api.github.com/search/issues?q=org:schul-cloud%20state:open%20label:%22nur-f%C3%BCr-einsteiger%22
- https://api.github.com/search/issues?q=org:schul-cloud%20state:open%20label:%22first-timers-only%22

- Duplikate vermeiden
- erste Issue rein Deutsch, 2. Issue rein Englisch

[2017-03-17 08:18] niccokunzmann opened #8 "Abschnitt "Hilfe bekommen" füllen"
Dieser Abschnitt https://github.com/schul-cloud/schul-cloud.github.io#wo-bekomme-ich-hilfe-zu-schulcloud
Sollte noch gefüllt werden

- [ ] Github tag @niccokunzmann / developers
- [ ] in issues schreiben
- [ ] slack
- [ ] mail
- [ ] gitter
- [ ] chat

[2017-03-17 08:19] niccokunzmann opened #9 "Section "Eigene Projekte" füllen"
https://github.com/schul-cloud/schul-cloud.github.io#eigene-projekte-an-schulcloud-anbinden
Diese beinhaltet, wie man die API versteht und Beispiele, wie man sie nutzt.

[2017-03-17 08:22] niccokunzmann opened #10 "Webseite für beigetretene"
ähnlich wie auf http://gci16.fossasia.org/ sollte es eine Webseite geben, die die Entwickler anzeigt.

- Sections: Core Team, Schüler, Entwickler
- für jede Section eine Datei als .yml in _data

[2017-03-17 08:22] niccokunzmann opened #11 "Blog abschnitt anfangen"
https://github.com/schul-cloud/schul-cloud.github.io#wo-kann-ich-meine-ergebnisse-zeigen

Hier können blogeinträge gepostet werden, die irgendwas mit schulcloud zu tun haben

[2017-03-17 08:36] niccokunzmann opened #12 "Webseite layouten"
Schulcloud hat ein bestimmtes Design und bestimmte Farben.

@schul-cloud/bp Gibt es eine Design-Richtlinie? Irgendwo im Wiki z.B.
Fragen daran wären:

- Welche Farben
- Welche Font
- Webseitenlayout im Allgemeinen
- Logo

Ich würde gerne Teile eures Designs für schul-cloud.github.io verwenden.

[2017-03-17 14:43] niccokunzmann commented on #12
Steht jetzt in der Contributing.md

[2017-03-17 14:43] #12 closed

[2017-03-17 14:45] niccokunzmann opened #13 "Add style to front page (html/css)"
We try to mimic the page https://blog.schulcloud.org/ So, we want to be close in style.

Add this to the front page:
- [x] header
- [x] footer
- [x] headings

[2017-03-17 14:48] niccokunzmann opened #14 "Add header"
Add a header to the website:

- [ ] Link to the main page
- [ ] Link to the blog
- [ ] Link to the people
- [ ] Link to get in contact

[2017-03-17 14:52] niccokunzmann opened #15 "Add People section"
We will have a section for people who wan to contribute to Schul-cloud.
Please add a page for those people.

- [x] it should be styled like https://blog.schulcloud.org/
- [x] it loops through all people in [_data/people.yml](https://github.com/schul-cloud/schul-cloud.github.io/blob/master/_data/people.yml)

Hint:
- You can get inspiration for showing them from here: http://gci16.fossasia.org/#ment

[2017-03-17 15:03] niccokunzmann opened #16 "Add edit link to footer"
If there is something wrong on the web-page or information should be added, it is nice th be able to do this in one click.

- edit button on the bottom linking to the open github page (/edit/)
- show-source button with a github logo linking to the source code
- this  is in _include/footer.html

Hint:
- This is already implemented here: https://niccokunzmann.github.io

[2017-03-19 21:38] morrme commented on #13
Do you mean you want to mimic https://schulcloud.org/ ?

[2017-03-21 09:25] noncototient commented on #13
To clarify, you want this page (https://schul-cloud.github.io/) to mimic this page (https://schulcloud.org/login/) as close as possible?

[2017-03-21 09:33] niccokunzmann commented on #13
@noncototient Yes, that is true. The blog part is not so important but if the main page looks similar, this would show that these pages have something to do with each other.
I already started: https://schul-cloud.github.io/dev/

[2017-03-21 09:35] noncototient commented on #13
Sweet, can you share a high res screenshot of what the homepage should look like? I am being redirected to login area when I try to access the home page.

[2017-03-21 09:40] niccokunzmann commented on #13
@morrme @noncototient Oh! My mistake! I meant this page: https://blog.schulcloud.org/

[2017-03-21 09:41] niccokunzmann commented on #13
but the other page can be of inspiration, too. I will change the description above.

[2017-03-21 09:42] noncototient commented on #13
It seems that you're pretty much done. All that is left to do is the side navigation, add pagination buttons and make the text red?

[2017-03-21 09:47] niccokunzmann commented on #13
Yeah, the blog is "almost" done.

However, if we write files like index.md, currently, no formatting is applied: https://schul-cloud.github.io/

[2017-03-21 13:16] jaels commented on #13
Hey! Is this problem still waiting to be solved?

[2017-03-21 13:20] niccokunzmann commented on #13
Hi @jaels, yes!
And I think, you can team up with @noncototient.
What would both of you like to do? (header, footer, headings, ...)

If you write it here, there will not be a merge conflict.
If you create a pull-request soon, we can collaborate.

What are your thoughts?

[2017-03-21 13:24] jaels commented on #13
Happily. I'm open to suggestions. That would (potentially) be my first contribute to an open source project so I'm still not very confident with the process and all. Might have some silly questions, like - should I download the project to my machine?

[2017-03-21 13:37] niccokunzmann commented on #13
There is reading for you, if you like to pursue it:

- https://desktop.github.com/ - if you like to use the desktop app of github (I recommend it for Windows)
- General Workflow: https://guides.github.com/introduction/flow/index.html
- a 15 minutes git tutorial: http://try.github.io/ if you like to use the console

[2017-03-21 13:39] jaels commented on #13
OK, great, thanks! Looking into it

[2017-03-21 14:01] niccokunzmann commented on #13
@jaels I created a tutorial for contribution: https://github.com/schul-cloud/schul-cloud.github.io/blob/master/INSTALLING.md
Feel free to change it if you need anything!

[2017-03-21 14:08] jaels commented on #13
Great! Thanks so much

[2017-03-21 14:22] thakurankit commented on #13
@jaels hey just saw this ...Would it be ok if i could give a shot at the complete thing? Or have to work on specific sections ?

[2017-03-21 14:34] jaels commented on #13
Don't entirely understand the question. I've started looking into it and intend to do it. You can look at it as well I guess. Not sure how it works.

[2017-03-21 15:51] niccokunzmann commented on #13
@jaels and @thakurankit: working on the footer is almost like working on the header. You can agree on what you want to do and have a look at each other's pull-request. This way, I guess you both can be faster.

How is it going?

[2017-03-21 15:57] jaels commented on #13
Sounds good. I'm having some trouble running jekyll

[2017-03-21 16:04] jaels commented on #13
OK solved it

[2017-03-21 16:11] thakurankit commented on #13
just started working on it...

[2017-03-21 16:19] jaels commented on #13
I'll take the header. What do you want inside there?

[2017-03-21 16:24] thakurankit commented on #13
so i'll work on the footer.

[2017-03-21 17:12] jaels commented on #13
Hey, also got a question: I'm a bit confused - the website that I forked, looking at the content of the HTML, is that one: https://blog.schulcloud.org/
Was expecting to fork the one that needs the improvement, as I understand it. So, this one:
https://schul-cloud.github.io/
Waiting for your clarification. Thanks

[2017-03-21 22:28] noncototient commented on #13
Cool, I'm happy to help. Built a few sites on Jekyll and loved it. Expect a pull request soon :)

[2017-03-21 22:47] niccokunzmann commented on #13
@ghost, I think this page can help to understand jekyll: http://jekyll.tips/

The index.md file is written in MarkDown. Jekyll creates HTML from the markdown file. This way, we can focus more on text and less on styling.

I think, the basics can shine a light on this. http://jekyll.tips/
If you have a specific question, please ask like this: "I was trying to ... because I wanted ... but I got ...

[2017-03-21 22:48] niccokunzmann commented on #13
@jaels yes, this is what we work on, this repository: https://schul-cloud.github.io/

[2017-03-21 22:54] niccokunzmann opened #17 "Create a blog-post for Schul-Cloud"
Contributors to Schul-Cloud are invited to create blog posts in the [dev/_posts](https://github.com/schul-cloud/schul-cloud.github.io/tree/master/dev/_posts) folder.

There are some questions you can answer:

- Who are you?
- What did you like about contributing?
- What would you like to improve?
- What you learn?

This will help new contributors directly, when they read it and indirectly because

[2017-03-21 23:17] niccokunzmann commented on #13
@ghost @jaels @noncototient I added a [jekyll section](https://github.com/schul-cloud/schul-cloud.github.io/blob/master/INSTALLING.md#how-to-jekyll). Feel free to edit it, fix missing things and add what you found is valuable. It will be valuable for others, too :)

[2017-03-21 23:23] niccokunzmann commented on #13
3 answers, now you can reply :)

[2017-03-21 23:32] noncototient commented on #13
I've done the blog page and it seems that all styles are already provided by you guys. Can I submit a pull request now?

[2017-03-22 08:36] niccokunzmann commented on #13
@noncototient You can sumbit any time. It is #18,I suppose. It was merged. Thanks!

[2017-03-22 08:41] niccokunzmann opened #19 "Make Blog posts link to each other (HTML/github pages/Jekyll)"
#18 introduced linking blog posts to each other.
This link is the same on all blog posts.
Use Jekyll to link to the following and/or last blog post.

Requirements:
- [x] use the previous and/or last blog post if available
- [x] style it like on https://blog.schulcloud.org/serlo-zum-besuch-beim-schul-cloud-team/

Hints:
- You can see a jekyll implementation [source code](https://github.com/niccokun

[2017-03-22 08:56] niccokunzmann opened #20 "Support many authors"
Currently, a blog post can only have one author.
Add the possibility to list authors like this:

[code]

[2017-03-22 09:05] noncototient commented on #19
Do you want the styling to match [these buttons](http://imgur.com/a/IBBmO) or do you want to be like on the screenshot you attached above?

[2017-03-22 09:07] niccokunzmann commented on #19
The buttons from above are just an example, so you know what the hint is about.

You added a static blog post at the bottom. Would you like to make this one the link to the other blog post?

[2017-03-22 09:08] noncototient commented on #19
My bad! Looked over the second check mark regarding the styling

[2017-03-22 09:59] jaels commented on #13
If it's still relevant to continue, in the header.html file, in the include folder, the headlines are:
            <h1 class="page-title">Schul-Cloud</h1>
            <h2 class="page-description">In diesem Blog berichten wir über die Arbeit am Pilotprojekt Schul-Cloud. Mehr Infos unter https://hpi.de/schul-cloud</h2>

This is the text from here: https://blog.schulcloud.org/

Was expecting to have

[2017-03-22 10:04] niccokunzmann commented on #13
@jaels You can change

 to

You are right - it was copied, pasted and forgotten.

[2017-03-22 10:04] jaels commented on #13
Ah, the relevant text is in the index.md file. Should I continue on that or is it already done?

[2017-03-22 10:05] jaels commented on #13
OK, thanks, I'll continue. Sorry, got confused

[2017-03-22 10:06] niccokunzmann commented on #13
You can add this to the index.md file
[code]
and add a page.html in the _layouts folder. Then, we can use this as the basic layout for any page which is not a blog post.

[2017-03-22 10:08] jaels commented on #13
and in the page.html write the full code of the page?

[2017-03-22 10:09] niccokunzmann commented on #13
Yes, like the blog-post.html file. https://github.com/schul-cloud/schul-cloud.github.io/blob/master/INSTALLING.md#front-matter

[2017-03-22 10:11] jaels commented on #13
Ahhhh ok. Thanks!

[2017-03-22 10:12] niccokunzmann commented on #13
Sure. I had not much time to write the INSTALLING.md. So, if you like to add something that would have helped you, you are welcome.

[2017-03-22 10:31] jaels commented on #13
So, in the index.html the layout should be "page"?

[2017-03-22 10:33] niccokunzmann commented on #13
in the index.md file the layout can be "page".

[2017-03-22 10:34] niccokunzmann commented on #13
If you commit and create a pull-request, we can discuss your code, if you like.

[2017-03-22 10:45] jaels commented on #13
I still didnt do much. trying to figure out the structure there and markdown and jekyll. If you want to explain it would be great. you're in germany btw?
I could create a pull request. You mean on the forked project?

[2017-03-22 10:47] niccokunzmann commented on #13
I am in Germany.
I do not know what to explain. If you commit the code, I can comment and we can see further.

[2017-03-22 10:57] niccokunzmann commented on #13
@jaels I found your work and commented. https://github.com/jaels/schul-cloud.github.io/commit/af70695067616022b6624060c0ac16065e40116a#commitcomment-21435406

[2017-03-22 11:05] jaels commented on #13
Thanks!!!
Now the page file looks like that:
[code]

But:
1. How would I style it?
2. Should I copy text into the footer and header from the markdown?

[2017-03-22 11:08] jaels commented on #13
3. How can I see the changes without pushing them?

[2017-03-22 11:09] niccokunzmann commented on #13
Test it if it works, then create a pull-request, I can merge it and then, I would recommend styling it.

1. You can style it with CSS. Did you use CSS before? We can find tutorials.
2. In general: Copying text should be avoided in programming.
3. `git status` shows the files changes. `git diff` shows all lines changed in a format named "patch". `git diff index.md` - forone file.

[2017-03-22 11:11] jaels commented on #13
1. Yeah I know CSS. The question is how to style a markdown text. Should I copy the text from the markdown in to the header?

[2017-03-22 11:11] jaels commented on #13
(those were 2 questions actually)

[2017-03-22 11:13] niccokunzmann commented on #13
if you run Jekyll, you can go to [index.html](https://schul-cloud.github.io/index.html) at http://localhost:4000
You can have a look at the source code. The Markdown is gone and you have html instead. You can style it with CSS.

[2017-03-22 11:16] niccokunzmann commented on #13
I do not know if copying is necessary. This is up to you. If you duplicate all the text, it makes it hard to change in the future.

[2017-03-22 11:21] jaels commented on #13
Not duplicate, I meant cut and paste.
The html is what inside the _site folder?

[2017-03-22 11:24] niccokunzmann commented on #13
yes, this is what jekyll generated.

[2017-03-22 11:27] jaels commented on #13
for some reason it ignored the header and footer. I could also just style it as one file

[2017-03-22 11:28] niccokunzmann commented on #13
Did you use `{{` which is for pasting variables or `{%` for executing commands?

[2017-03-22 11:30] jaels commented on #13
ok it's fine now :)

[2017-03-22 11:42] jaels commented on #13
I need to go for an hour or so. continue when I'm back. thanks so much for all the help until now. will probably need more...

[2017-03-22 13:53] jaels commented on #13
Hey are you here?

[2017-03-22 14:26] jaels commented on #13
I pushed the header. The font doesnt look 100% identical. Do you also want the menu there?
Have a look.
Can continue working on it if nobody else does.
Still dont quit understand how to give classes etc to the markdown text.

[2017-03-22 14:50] niccokunzmann commented on #13
@jaels Can you create a pull-request? It should be possible here: https://github.com/jaels/schul-cloud.github.io/compare

[2017-03-22 14:54] jaels commented on #13
created

[2017-03-22 15:00] jaels commented on #13
great, first contribution :). should I continue? should I do the body of the text?

[2017-03-22 15:21] niccokunzmann commented on #13
You can continue if you like. You can also write a blog post #17 or documentation about what you learned.

[2017-03-22 15:47] niccokunzmann commented on #13
@jaels, I updated this comment: https://github.com/schul-cloud/schul-cloud.github.io/issues/13#issuecomment-288422990

[2017-03-22 19:59] jaels commented on #13
OK cool. So I would just write a blog post. Do you have more recommendations for easy contributions in javascript/html/css? Or at least some links to where I can find some?
Thanks again

[2017-03-22 21:15] niccokunzmann commented on #13
These are some tutorials, English/German/... http://learn.opentechschool.org/

[2017-03-22 22:43] jaels commented on #13
Ah no. I know Javascript etc. Want to contribute to open source project in Github, but to start with the simple tasks

[2017-03-22 23:04] niccokunzmann commented on #13
I guess `first-timers-only` is a good issue label to look for. http://makeapullrequest.com/ and up-for-grabs.net

[2017-03-22 23:05] jaels commented on #13
Thanks!

[2017-03-22 23:28] noncototient commented on #19
Should be able to accept the pull request with no conflicts now, #21

[2017-03-22 23:32] noncototient commented on #14
Just wondering what kind of header you are looking for? Just a top bar navigation or slide out menu like seen on here: https://blog.schulcloud.org/?

[2017-03-23 07:57] niccokunzmann commented on #14
I do not really care about the style. I am interested in having the links there in a menu which can be put on every page, so we the same way of navigation on all pages. This will ease the navigation for users as they know what to expect.
Does this answer your question, do you have new questions?

[2017-03-28 02:40] premshah commented on #19
If this issue is open I will like to claim it

[2017-03-28 08:00] niccokunzmann commented on #19
@premshah Yes, it is open. You can work on it. I will try to help you, if you have any questions.

[2017-03-28 08:01] niccokunzmann commented on #19
I will check what the current status is, too. #21 is previous work.

[2017-03-28 08:05] niccokunzmann commented on #19
Oh no! I recognize, I am satisfied with how the blog posts are linked. However, if you like, you can have a look at it yourself:

- https://schul-cloud.github.io/blog/2017-02-02/kristallklar-mit-der-Schul-Cloud

The links are at the bottom.
I will create more Issues based on what I find on the page. If you like, you can also look for issues.

[2017-03-28 08:09] niccokunzmann opened #23 "Add header to blog (HTML/Jekyll)"
Currently, the blog posts do not have a header.
We have a header in the index file.

Please also add this header to the blog posts for a consistent user experience.

Hints:
- Blogpost: https://schul-cloud.github.io/blog/2017-03-10/technischer-bericht-ver%C3%B6ffentlicht
- Index file: https://schul-cloud.github.io/ and https://github.com/schul-cloud/schul-cloud.github.io/blob/master/index.md
- layo

[2017-03-28 08:14] niccokunzmann opened #24 "Style index file (jekyll, blog)"
Currently, the index file looks like the markdown file.
For some reason it is not rendered properly.

Hints:
- Check the layout and compare it to other layouts.

Links:
- rendered version: https://schul-cloud.github.io/
- source: https://github.com/schul-cloud/schul-cloud.github.io/blob/master/index.md

[2017-03-30 07:54] #19 closed

[2017-03-30 07:56] niccokunzmann opened #25 "Add blog post about how to add a blog post"
This makes it easier for new-comers to contribute.

In the [/dev/_posts][posts] directory, you can find files for the blog post.

Please create a new one and explain the following:

- How you use git and github
- How to add your user name to the [_data/people.yml](https://github.com/schul-cloud/schul-cloud.github.io/blob/master/_data/people.yml) file.
- What goes into the header?
- Where and how t

[2017-04-01 23:31] bksahu commented on #23
Dibs.

[2017-04-01 23:32] bksahu commented on #23
Dibs. :smile:

[2017-04-02 15:25] niccokunzmann commented on #23
@bksahu Thanks for your contribution. I noticed that you copied the header from the _includes/header.html file. There is a program command in Jekyll to do this.

    {% include header.html %}

Would you like to try this out, too?
- https://github.com/schul-cloud/schul-cloud.github.io/blob/9302a665764784aa48f53d6a91fac55a2574b2dd/_layouts/page.html#L9

[2017-04-02 17:24] jprberlin opened #27 "Schul-Cloud should always be spelled with a - in the middle"

[2017-04-06 11:21] bksahu commented on #23
Sure. I would love to do that also.

[2017-04-06 11:36] bksahu commented on #23
Sure. I would like to do that also. :smile:

[2017-04-07 06:30] niccokunzmann commented on #27
Tests run: https://travis-ci.org/schul-cloud/schul-cloud.github.io/builds/219566913#L1170

[2017-04-07 06:30] #27 closed

[2017-04-12 17:48] nadia39 commented on #16
I would like contribute to this!
I need to contribute to an open source project for a class.
I only need to change the footer.html file?

[2017-04-12 18:28] niccokunzmann commented on #16
I think, so, yes. If you like, please go ahead.
Contribution to open-source in a class .. that is interesting. What class is this?

[2017-04-14 14:32] nadia39 commented on #16
its for Open Source Software class at university.
I must contribute to an project online.
This one looks interesting, I will work on it now!

[2017-04-14 18:27] nadia39 commented on #16
Which file is the footer needed for?
Which .html file will it be added to?

[2017-04-15 04:58] tekon92 commented on #25
#31

[2017-04-15 07:23] tekon92 commented on #24
#31 remove enter on the top

[2017-04-15 08:28] niccokunzmann commented on #16
Does this answer your question? https://github.com/schul-cloud/schul-cloud.github.io/blob/master/INSTALLING.md (bottom) If not, please tell me, so we can improve the documentation.

[2017-04-15 08:36] niccokunzmann opened #32 "Clarify github image source or delete it"
#30 introduces the github image fo rthe footer.
Please add a file with the source next to it and verify it is leag to use or delete it.

@nadia39 What do you think?

[2017-04-15 08:50] niccokunzmann commented on #24
It works now. Closing this. Feel free to open again or create a new issue.

[2017-04-15 08:50] #24 closed

[2017-04-15 08:59] niccokunzmann commented on #25
I think, your pull-request satisfies all requirements. Closing this issue therefore. Thanks!

[2017-04-15 08:59] #25 closed

[2017-04-15 09:05] niccokunzmann opened #33 "Fix github link image (HTML/Jekyll)"
In the [footer](https://github.com/schul-cloud/schul-cloud.github.io/blob/master/_includes/footer.html#L4) there is a link to github.
The image is not visible.
Please fix this, move the github image to the assets/img folder and to from it.

In order to test this, you may want to try this out locally on your machine. See the [install](https://github.com/schul-cloud/schul-cloud.github.io/blob/master

[2017-04-17 06:51] niccokunzmann opened #36 "Add Impressum Link (Git/Github/HTML)"
There was a link to the Impressum - a page required by the German law <https://dejure.org/gesetze/TMG/5.html> to show who is behind the site and how to contact the person. A [pull-request removed the link](https://github.com/schul-cloud/schul-cloud.github.io/pull/34/files#diff-7693eb643e8fe8b8d46b407909b408ce).
Please add the link to the page again.

[2017-04-18 01:14] tekon92 commented on #15
#37

[2017-04-18 07:52] niccokunzmann opened #38 "Document how to add one or many authors"
Blog posts can have one or more authors.
Document both cases and the syntax for them:

- 0 authors - is it possible?
- 1 author - as list or just the name?
- 2 or more authors

[2017-04-18 07:55] niccokunzmann commented on #36
@tekon92 The impressum is something different from the contributors page. If we use http://hpi.de/impressum we can be sure that it has the right form and content and the admins of Schul-Cloud can be reached.

[2017-04-18 07:57] niccokunzmann commented on #15
@tekon92 Thanks! That would close it in my eyes. Feel free to re-open and comment.

[2017-04-18 08:59] tekon92 commented on #15
@niccokunzmann where should we put the link of this page?

[2017-04-18 09:01] tekon92 commented on #20
i think we can close this with this PR ? #37

[2017-04-18 10:16] niccokunzmann commented on #15
I think, In the footer is ok, as contributors. What do you think?

[2017-04-18 10:16] niccokunzmann commented on #20
Yes, I think so :)

[2017-04-18 10:16] #20 closed

[2017-04-18 21:54] tekon92 commented on #36
@niccokunzmann so which on is impressum link? this one http://hpi.de/impressum ?

[2017-04-18 21:55] tekon92 commented on #15
yeah i think so.

[2017-04-18 22:08] tekon92 commented on #36
#39

[2017-04-18 22:08] tekon92 commented on #15
#39

[2017-04-18 22:53] niccokunzmann commented on #36
@tekon92 correct. Thanks!

[2017-04-18 22:53] #36 closed

[2017-04-18 22:54] #15 closed

[2017-04-19 11:40] niccokunzmann opened #40 "Create unified Documentation site"
In order to get new contributors an overview and ease getting started, a unified documentation site should be created.

Examples:
- http://dev.eventyay.com

Implementation suggestions:
- documentation
  - is in markdown
  - is in the `/docs` folder of the repository
  - documentation across repositories belongs into schul-cloud.github.io/docs
- build
  - we can use travis to build the documentatio

[2017-04-20 19:46] maddin2016 opened #41 "How to contribute"
Hello everyone,
I have read a lot about this project and it sounds really exciting. I also have two kids (7 and 9) and i want to ask if there is way to contribute to this project. Maybe for `schulcloud-server` or `schulcloud-client`. Let me know if there is something to do.

[2017-04-21 07:37] niccokunzmann commented on #41
Hi, I am glad you commented.
We have lots of things to work on. They are in a Trello which is still closed.
I think, we can get issues out of there which the @schul-cloud/bp Bachelorproject does not have as a priority - I just talked to them.
One thing they assinged to me is translation: Currently, the Client is German only. I am not proficient in node, so if you want to work on this or have ideas

[2017-04-21 07:42] niccokunzmann opened #42 "Remove "ss" to "ß" conversion (CSS)"
![grafik](https://cloud.githubusercontent.com/assets/564768/25267849/c2e1f8f0-2676-11e7-858a-aeb07c823990.png)

@nicoknoll suggested this must be removed to remove the error:

    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

[2017-04-21 07:49] nicoknoll commented on #42
And the same for "-ms-" and "-moz-" prefixes

[2017-04-21 19:06] niccokunzmann commented on #41
I created #43 which you can follow and improve to setup Schul-Cloud. Currently, I want to improve the documentation to make getting started easier.

[2017-04-21 19:08] niccokunzmann opened #44 "Setup the software and improve the tutorial (Linux/node.js)"
#43 Introduces a tutorial.
Please run through the tutorial, find errors and add your thoughts, so it is easier for others to follow.

[2017-04-22 12:25] maddin2016 commented on #41
Hi @niccokunzmann,
thanks for the PR. I will see what i can do. Can you tell me a little bit about the project. You can also ping me by E-Mail.

[2017-05-02 11:57] niccokunzmann opened #48 "Write concept for "tree layers of trust""
Three layers:

- external
- community
- internal (infrastucture)

[2017-05-03 07:41] niccokunzmann opened #49 "Create Tutorial for Docker Setup"
We havea tutorial for the development setup: https://schul-cloud.github.io/blog/2017-04-21/setup-development-under-ubuntu
All the services also residein docker containers.

To solve this issue, write a tutorial how to setup the services with docker.

@kremer-io @jprberlin Should this be a tutorial for development or for deployment?

[2017-05-03 08:35] HDinger opened #50 "Improve expression on the development portal"
At the moment the first sentence on https://schul-cloud.github.io is "Alles, was du über Schul-Cloud wissen brauchst, um mitzumachen". Please correct this to "Alles, was du über Schul-Cloud wissen **musst**, um mitzumachen".
In general there are a lot of expressions which I consider rather bad. This concerns especially the enumerations.

[2017-05-03 08:37] HDinger opened #51 "Font is not correctly displayed in Chrome (MacOS)"
When opening https://schul-cloud.github.io with Chrome on Mac every `ss` is displayed as `ß` (e.g. 'ißues' or 'wißen'). This seems to be caused by the font family.

[2017-05-03 09:01] #50 closed

[2017-05-03 10:26] niccokunzmann commented on #51
Thanks for reporting this. Let's proceed in #42. If I mistakenly think this is a duplicate, please re-open.

[2017-05-03 10:26] #51 closed

[2017-05-04 12:21] niccokunzmann opened #55 "Add an edit link to github to the blog posts"
To make it easy for developers to contribute, please add a link to the markdown file of the blog post.

This link should be added to every blog post.

[2017-05-13 07:29] niccokunzmann commented on #33
@tekon92 Thanks, I thik it works.
![grafik](https://cloud.githubusercontent.com/assets/564768/26023552/ac1f190a-37be-11e7-9c0c-504a23d179e8.png)

[2017-05-13 07:29] #33 closed

[2017-05-13 07:32] niccokunzmann commented on #41
Hi @maddin2016 can I do anything else for you, if not, I will close this in s couple of days.
I think, we were in contact vie e-mail. If you are looking for more opportunities, please let me know :)

[2017-05-13 07:34] niccokunzmann commented on #1
![grafik](https://cloud.githubusercontent.com/assets/564768/26023571/566d1e48-37bf-11e7-8029-77b08ea2531a.png)

[2017-05-13 07:34] #1 closed

[2017-05-13 07:36] niccokunzmann commented on #32
It is from https://niccokunzmann.github.io. We can use it.

[2017-05-13 07:36] #32 closed

[2017-05-13 07:36] niccokunzmann commented on #11
Blog ist begonnen.

[2017-05-13 07:36] #11 closed

[2017-05-13 07:37] niccokunzmann commented on #23
Thanks @bksahu ! Closing this as there are headers everywhere.

[2017-05-13 07:37] #23 closed

[2017-05-13 07:39] #4 closed

[2017-05-13 07:42] niccokunzmann commented on #7
#6

[2017-05-13 07:42] #7 closed

[2017-05-13 07:44] niccokunzmann commented on #13
Thanks for your contributions! I am closing this now :)

[2017-05-13 07:44] #13 closed

[2017-05-16 17:27] VijayVj7 opened #58 "How to setup the development environment in Visual Studios 17"
1)Could you please create a tutorial on how to create the dev env in visual studios 17, it would be really helpful for first timers like me..!!

2)I've cloned your project in VS 17, but stuck in setting up the environment.
   Not getting from where to start
Please help us !!
Hope you come back with a solution
![image](https://cloud.githubusercontent.com/assets/18487229/26119450/df5e2f1c-3a8a-11e7-

[2017-05-16 21:28] niccokunzmann commented on #58
Hi, I will take a deeper look tomorrow. (0:00 almost here). My question is: which projects would you like to contribute to? If I help you set it up, would you write down your steps to create a small tutorial? I may not really write it as you like to hear it. Let's see.

[2017-05-17 17:50] VijayVj7 commented on #58
Hi Nicco,

Apologies for delay in reply.Firstly, I would like to contribute to the
front-end part of the project.Thats the reason I've asked you to create a
small tutorial for the dev env setup.

Hope you revert back soon

On Wed, May 17, 2017 at 2:58 AM, Nicco Kunzmann <notifications@github.com>
wrote:

[2017-05-17 18:57] #5 closed

[2017-05-17 18:59] niccokunzmann commented on #58
Hi, I see. Currently we only have the setup covered for Ubuntu.
https://schul-cloud.github.io/blog/2017-04-21/setup-development-under-ubuntu
I think, after I thought a while ^^, that you need a tutorial for Windows.

I will not do it today but I hope, tomorrow.
The steps would be like those from the ubuntu tutorial but with the commands different for the installation of node and mongodb.

Also, we

[2017-05-18 08:45] niccokunzmann commented on #58
We are working on a tutorial for Windows.

[2017-05-18 11:58] niccokunzmann commented on #58
@VijayVj7 In #59 I introduce the windows setup. Please try to do the setup. If there are any problems, write them down, so others have an easier start.

[2017-05-18 12:05] #41 closed

[2017-05-18 12:06] #16 closed

[2017-05-19 07:23] niccokunzmann opened #60 "Link to repositories"
On the first page, you can view services and their build statuses.
Please make the service name a link to the repository of the service.

[2017-05-19 07:25] niccokunzmann commented on #42
@nicoknoll Can you have a look? It seems like @jprberlin corrected it.

[2017-05-19 07:49] niccokunzmann commented on #58
@VijayVj7 It is online, now. https://schul-cloud.github.io/blog/2017-05-18/setup-schul-cloud-client-and-sever-under-windows

[2017-06-04 18:54] niccokunzmann opened #65 "Kommunikationsrichtlinien?"
**Problem**
Ich bin nur Student. Ich kann keine Zusicherungen machen. Ich weiß nicht immer, wenn ich mit Externen und Internen kommuniziere, weiß ich nicht immer, wen es interessiert und an wen ich mich noch wenden sollte und wer mitreden möchte.

**Beispiel**
Beispiel: Ich war im Austausch mit Antares.
- Wen interessiert das?
- Wer sollte noch davon wissen?
- Welche Kommunikation gab es bisher mi

[2017-06-04 21:01] niccokunzmann commented on #65
Feedback:
In Firmen wird die Kommunikation oft so gehandhabt:
- Im Arbeitebereich herrscht maximale Transparenz (Buchhaltung Innerhalb, Kundenberatung innerhalb)
- Außerhalb wird die Essenz Wietergegeben (Der Vertrieb weiß nicht, wie viel die Firma an Ausgaben hat, die Buchhaltung nicht, wer alles beraten wurde und wozu)

Schlussfolgerung:
- Content ist ein Arbeitsbereich, der auch für Externe geö

[2017-06-04 21:29] niccokunzmann commented on #65
Es arbeiten immer wieder Studenten an den Projekten mit. Diese sind oft nach 6-12 Monaten nicht mehr dabei. Ein Prozess, der das Wissen weiter gibt, wenn Studenten ausscheiden, ermöglicht eine langfristige Weiternutzung der Codes.

[2017-06-06 19:21] niccokunzmann commented on #65
Ein offener A-Mailverteiler ist in Arbeit.

[2017-06-06 19:28] ArneOb commented on #65
Cool.

Von Samsung-Tablet gesendet

-------- Ursprüngliche Nachricht --------
Von: Nicco Kunzmann <notifications@github.com>
Datum: 06.06.2017  21:21  (GMT+01:00)
An: "schul-cloud/schul-cloud.github.io" <schul-cloud.github.io@noreply.github.com>
Cc: ArneOb <arne.oberlaender@schulkontext.de>, Mention <mention@noreply.github.com>
Betreff: Re: [schul-cloud/schul-cloud.github.io] Kommunikationsrichtli

[2017-06-08 08:46] niccokunzmann commented on #58
@VijayVj7 Since I did not hear anything from you, I will close this now. Feel free to open another issue or comment below :)

[2017-06-08 08:46] #58 closed

[2017-06-08 08:46] niccokunzmann commented on #42
@nicoknoll Is this resolved?

[2017-06-08 08:47] niccokunzmann commented on #40
No answer.

[2017-06-08 08:47] #40 closed

[2017-06-08 09:06] niccokunzmann commented on #65
Der Mailverteiler ist erstellt:
https://lists.hpi.uni-potsdam.de/listinfo/schul-cloud-content-dienste-offen
Content soll darüber diskutiert werden.

[2017-06-08 14:26] #17 closed

[2017-06-08 15:52] niccokunzmann commented on #65
#66

[2017-06-08 17:18] niccokunzmann commented on #10
https://schul-cloud.github.io/contributors.html

[2017-06-08 17:18] #10 closed

[2017-06-08 17:21] niccokunzmann opened #69 "Wie können Lehrer beitragen?"
Dazu einen Blog-Post erstellen

- [ ] automated tests using browserstack
- [ ] regex-welche wie hinzufügen?
- [ ] kommunikation, issues
- [ ] youtube-video
- [ ] Editor? Für Webseite?
- [ ] Browserstack: walkthrough video einbetten

[2017-07-11 14:21] hristo-tanev commented on #60
Hi there, can I get on with this issue? Thanks ;)!

[2017-07-12 03:59] niccokunzmann commented on #60
@hristo-tanev Sure, please go ahead! Your contributions are welcome.

[2017-07-12 15:52] niccokunzmann opened #71 "Update Windows Tutorial"
https://github.com/schul-cloud/schulcloud-server/pull/178 adds support for Windows seeding of the database.
The [Windows Tutorial](https://github.com/schul-cloud/schul-cloud.github.io/blob/master/dev/_posts/2017-05-18-setup-schul-cloud-client-and-sever-under-windows.md) should be adjusted.

@Langleu Do I read that right, that we can use same command in Windows and Linux to seed the database?

[2017-07-13 07:45] Langleu commented on #71
yes, if you do as stated in this [comment](https://github.com/schul-cloud/schulcloud-server/pull/165#issuecomment-302483237)

[2017-08-02 08:54] #48 closed

[2017-08-06 11:29] vedk commented on #49
Guten Tag, ich heiße Ved Khandekar.

I would like to participate in this project as an _Einsteiger_. If I have understood this issue correctly, what is **required to be done** is this: **create a few docker containers** which run MongoDB, Node.js so that **getting started** with development of Schul-Cloud **becomes as easy** as:

1. Getting the containers: `docker pull mongo`, _etc_
2. Getting Sch

[2017-08-06 16:17] niccokunzmann commented on #49
Guten Tag Ved Khandekar,

Yes, the idea is to make it really easy to setup schul-cloud for development.
There are some more sources you can use for this, too: https://github.com/schul-cloud/deployment-files
Which means, you can use docker-compose to setup a virtual environment with the containers connected to eachother.
My idea would be: as a developer, I would like to setup my own schul-cloud usi

[2017-08-07 07:28] vedk commented on #49
Vielen Dank.

The issue is more clear to me now.

Unfortunately, I had not seen all the schul-cloud repositories, so I felt as if the docker containers had to be created by writing the `Dockerfile`s. But this has already been done wonderfully in [this repository](https://github.com/schul-cloud/deployment-files). So only a tutorial showing how to use them is to be made.

Bin ich richtig?

Danke,

V

[2017-08-07 10:11] niccokunzmann commented on #49
Ja, ich denke, Du hast recht.

Nicco

On 8/7/2017 9:28 AM, Ved Khandekar wrote:

[2017-10-01 14:46] alaskaa commented on #2
Ich habe die fehlenden Zeilen in die zugehoerigen Dateien eingefuegt! Pull request is pending!

(Habe bisher nur mit eigenen Github Repos und nicht mit anderen Github Repos gearbeitet - hoffe, ich hab alles richtig gemacht).

[2017-10-01 16:26] niccokunzmann commented on #2
#75 Schließt diese Issue. Danke @alaskaa! Wenn du Frgane oder irgendwo Pobleme hast, kannst du gerne fragen. Was magst du weiter machen?

[2017-10-01 18:41] pradyunsg commented on #42
Looks like it's been fixed.

[2017-10-01 20:11] alaskaa commented on #60
Is this still open? Or has it been resolved?

[2017-10-01 20:15] alaskaa commented on #2
Erstmal einfache Sachen, damit ich lerne wie man korrekt Pull Requests macht! Werde mich anfangs erstmal an die first-timers-only tags halten :) aber wenn es noch mehr fuer Einsteiger zu tun gibt - her damit!

[2017-10-01 20:23] alaskaa commented on #55
This sounds relatively easy. Do you want this added automatically to every blog post or shall I manually edit the previous ones? Could you provide some more information?

[2017-10-01 21:47] niccokunzmann commented on #42
So, I am closing it. If someone disagrees, we can re-open.

[2017-10-01 21:47] #42 closed

[2017-10-01 21:48] niccokunzmann commented on #60
It is still open.

[2017-10-01 21:49] niccokunzmann commented on #2
Gut :)

[2017-10-01 21:49] #2 closed

[2017-10-01 21:51] niccokunzmann commented on #55
It should be added automatically to every blog post, best event to every page.
We have files like tehse: https://github.com/schul-cloud/schul-cloud.github.io/blob/master/_includes/ which are included by jekyll into many pages.

[2017-10-02 14:27] #60 closed

[2018-04-30 14:42] kapil5harma commented on #44
Hi! I would like to take this.

[2018-04-30 15:53] niccokunzmann commented on #44
Sure, please go ahead. If you have any questions, let us know!